<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="quick-avgleはAvgleから素早く動画を検索・視聴することができるプラットフォームです" />
    <meta name="keywords" content="エロ動画,無料,まとめ,えろ,avgle,AVGLE,エロ,ナンパ">
    <meta property="og:url" content="URL" />
    <meta property="og:title" content="quick-avgle" />
    <meta property="og:description" content="quick-avgleはAvgleから素早く動画を探すことができるプラットフォームです" />
    <meta property="og:image" content="https://quick-avgle.ga/ogp.png" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="quick-avgle" />
    <meta property="og:locale" content="ja_JP" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/shepherd-theme-dark.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>quick-avgle</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135020208-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-135020208-1');
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but frontend_ doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
