<template>
  <div
    class="card"
    @mouseenter="playPreviewVideo"
    @mouseleave="stopPreviewVideo"
    @touchstart="playPreviewVideo"
    @touchend="stopPreviewVideo">
    <div class="card-image">
      <figure
        class="video is-4by3">
        <video
          v-if="isPlayPreviewVideo"
          autoplay
          muted
          :src="video.preview_video_url | https2http" />
        <img
          v-else
          :src="video.preview_url | https2http"
          crossorigin="anonymous">
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <p class="title is-6">
          {{ video.title }}
        </p>
        <p>
          <span class="icon has-text-success">
            <i class="fas fa-clock" />
          </span>
          <span>
            {{ video.duration | minute }}分
          </span>
          <span class="icon has-text-info">
            <i class="fas fa-thumbs-up" />
          </span>
          {{ video.likes }}
          <span class="icon has-text-danger">
            <i class="fas fa-thumbs-down" />
          </span>
          {{ video.dislikes }}
          <span
            v-if="isFav"
            class="button is-rounded is-small is-warning"
            @click.stop="onClickFavButton">
            <span class="icon is-large">
              <i
                class="fas fa-heart fa-lg" />
            </span>
            <span>お気に入り</span>
          </span>
          <span
            v-else
            class="button is-rounded is-small is-warning"
            @click.stop="onClickFavButton">
            <span class="icon is-large">
              <i
                class="far fa-heart fa-lg" />
            </span>
            <span>お気に入り</span>
          </span>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Video',
  filters: {
    minute(val) {
      return Math.round(val/60)
    },
    https2http(val) {
      return val.replace('https', 'http')
    },
  },
  props: {
    video: {
      type: Object,
      default: null
    },
    favs: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      isPlayPreviewVideo: false 
    }
  },
  computed: {
    favClass() {
      if (this.isFav) {
        return {
          'far': true,
          'fas': false
        }
      }

      return {
        'far': false,
        'fas': true
      }
    },
    isFav() {
      return this.favs.includes(this.video.vid)
    }
  },
  methods: {
    playPreviewVideo() {
      this.isPlayPreviewVideo = true
    },
    stopPreviewVideo() {
      this.isPlayPreviewVideo = false
    },
    onClickFavButton() {
      this.$emit('selectFav', this.video.vid)
    }
  }

}
</script>
