<template>
  <div class="container-fluid">
    <div
      class="section">
      <div
        class="container"
        style="padding-top: 40px">
        <div class="columns is-multiline">
          <div
            v-for="video in videos"
            :key="video.vid"
            class="column is-6-tablet is-3-desktop"
            @click="selectedVideo = video">
            <video-card
              :video="video" 
              :favs="favs"
              @selectFav="onSelectFav" />
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="isActive"
      class="modal"
      :class="{'is-active': isActive}">
      <div
        class="modal-background"
        @click="selectedVideo = null" />
      <div class="modal-content">
        <iframe
          width="100%"
          height="10px"
          :src="selectedVideo.embedded_url"
          frameborder="0"
          allowfullscreen />
      </div>
    </div>
    <div class="floating-action-button">
      <router-link
        class="button is-warning is-medium is-rounded"
        to="/">
        <span class="icon">
          <i class="fas fa-home" />
        </span>
      </router-link>
    </div>
  </div>
</template>

<script>
import VideoCard from '@/components/video'
import axios from 'axios'

export default {
  name: 'Fav',
  components: {
    VideoCard
  },
  data() {
    return {
      selectedVideo: null,
      videos: [],
      favs: []
    }
  },
  computed: {
    isActive() {
      return this.selectedVideo != null
    }
  },
  watch: {
    favs(value) {
      this.searchVideos(value)
    },
    selectedVideo(val) {
      if (val != null) {
      // eslint-disable-next-line no-undef
        gtag('event', 'watch', {
          'event_category': val.vid,
        })
      }
    },
  },
  created() {    
    this.favs = JSON.parse(localStorage.getItem('favs')) || []
  },
  methods: {
    searchVideos(vids) {
      const getVideos = []
      const processes = []
      vids.forEach(vid => {
        processes.push(axios.get('https://api.avgle.com/v1/video/' + vid, {
        }).then(res => {
          console.log('GET', res.data)
          getVideos.push(res.data.response.video)
        }))
      })

      Promise.all(processes).then(() => {
        this.videos = getVideos
      })
    },
    onSelectFav(vid) {
      if (this.favs.includes(vid)) {
        this.favs = this.favs.filter(id => id !== vid)
      } else {
        this.favs.push(vid)
      }
      localStorage.setItem('favs', JSON.stringify(this.favs))
    }
  }
}
</script>

<style>
.floating-action-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.modal-card, .modal-content {
  position: fixed;
  bottom: 0px;
}
</style>

