<template>
  <div class="container-fluid">
    <div class="section hero is-warning">
      <div class="hero-body">
        <div class="container">
          <img
            style="width: 100%;"
            src="/logo.png">
          <div class="field search-field">
            <div
              class="control is-medium has-icons-left"
              :class="{ 'is-loading': isLoading }">
              <input
                v-model="query"
                class="input is-medium"
                type="text"
                placeholder="ナンパ まな">
              <span class="icon is-small is-left">
                <i class="fa fa-search" />
              </span>
            </div>
          </div>
          <div class="field">
            <div class="select">
              <select v-model="sort">
                <option
                  v-for="option in sortOptions"
                  :key="option.key"
                  :value="option.key">
                  {{ option.value }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <p
        v-if="count!=null"
        class="title is-4">
        <span class="count-label">
          {{ count }}件見つかりました
        </span>
      </p>
      <div class="container">
        <div class="columns is-multiline">
          <div
            v-for="(video, index) in videos"
            :key="video.vid"
            class="column is-6-tablet is-3-desktop"
            :class="index===0 ? 'first-card' : ''"
            @click="selectedVideo = video">
            <video-card
              :video="video" 
              :favs="favs"
              @selectFav="onSelectFav" />
          </div>
        </div>
        <infinite-loading
          ref="infiniteLoading" 
          spinner="waveDots"
          :identifier="infiniteId"
          @infinite="infiniteHandler" />
      </div>
    </div>
    <div
      v-if="isActive"
      class="modal"
      :class="{'is-active': isActive}">
      <div
        class="modal-background"
        @click="selectedVideo = null" />
      <div class="modal-content">
        <iframe
          width="100%"
          height="10px"
          :src="selectedVideo.embedded_url"
          frameborder="0"
          allowfullscreen />
      </div>
    </div>
    <div class="floating-action-button">
      <router-link
        class="button is-warning is-medium is-rounded"
        to="/fav">
        <span class="icon">
          <i class="fas fa-heart" />
        </span>
      </router-link>
    </div>
  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import VideoCard from '@/components/video'
import _ from 'lodash'
import axios from 'axios'

import Shepherd from 'shepherd.js'

export default {
  name: 'App',
  components: {
    InfiniteLoading,
    VideoCard
  },
  data() {
    return {
      tour: null,
      query: '',
      isLoading: false,
      videos: [],
      page: 0,
      count: null,
      selectedVideo: null,
      favs: [],
      timeout: null,
      debounceResetter: null,
      infiniteId: +new Date(),
      sortOptions: [
        {
          key: 'bw',
          value: 'Last viewed',
        },
        {
          key: 'mr',
          value: 'Latest',
        },
        {
          key: 'mv',
          value: 'Most viewed',
        },
        {
          key: 'tr',
          value: 'Top rated',
        },
        {
          key: 'tf',
          value: 'Most favoured',
        },
        {
          key: 'lg',
          value: 'Longest',
        },
      ],
      sort: 'mr'
    }
  },
  computed: {
    isActive() {
      return this.selectedVideo != null
    }
  },
  watch: {
    query(val) {
      this.debounceResetter()
      localStorage.setItem('query', val)
    },
    sort(val) {
      this.debounceResetter()
      localStorage.setItem('sort', val)
    },
    selectedVideo(val) {
      if (val != null) {
      // eslint-disable-next-line no-undef
        gtag('event', 'watch', {
          'event_category': val.vid,
        })
      }
    },
    favs() {
      console.log('HOOK!!')
    }
  },
  created() {
    if (localStorage.getItem('query')) {
      this.query = localStorage.getItem('query')
    }
    if (localStorage.getItem('sort')) {
      this.sort = localStorage.getItem('sort')
    }
    this.favs = JSON.parse(localStorage.getItem('favs')) || []
    this.debounceResetter = _.debounce(this.resetVideos, 500)
  },
  mounted() {
    // 初回のみ再生
    if (localStorage.getItem('query') === null) {
      this.resumeHelp()
    }
  },
  methods: {
    resetVideos() {
      console.log('RESET!!')
      this.page = 0
      this.videos = []
      this.count = null
      this.infiniteId += 1
    },
    infiniteHandler($state) {
      this.searchVideos($state)
      this.page++
    },
    searchVideos($state) {
      console.log('SERACH')
      if (this.query.trim() == '') {
        // 検索できないのでSTOP
        console.log('STOP')

        $state.complete()
        return
      }

      // eslint-disable-next-line no-undef
      gtag('event', 'search', {
        'event_category': this.query,
        'event_label': this.page
      })

      axios.get('https://api.avgle.com/v1/search/' + this.query + '/' + this.page, {
        params: {
          o: this.sort
        }
      }).then(res => {
        console.log('GET', res.data)
        this.count = res.data.response.total_videos
        this.videos.push(...res.data.response.videos)
        this.$nextTick(() => {
          if (res.data.response.has_more) {
            $state.loaded()
          } else {
            $state.complete()
          }
        })
      })
    },
    onSelectFav(vid) {

      if (this.favs.includes(vid)) {
        this.favs = this.favs.filter(id => id !== vid)
      } else {
        this.favs.push(vid)
      }

      console.log('vid', vid)
      console.log('this.favs', this.favs)
      localStorage.setItem('favs', JSON.stringify(this.favs))
    },
    resumeHelp() {
      this.tour = new Shepherd.Tour({
        defaultStepOptions: {
          classes: 'shadow-md bg-purple-dark',
        },
        useModalOverlay: true
      })

      this.tour.addStep('search', {
        text: '調べたい単語を入力しましょう🔍',
        attachTo: '.search-field bottom',
        buttons: [
          {
            text: 'Next',
            action: this.tour.next
          },
          {
            text: 'Skip',
            action: this.tour.complete
          },
        ]
      })
      this.tour.addStep('hit', {
        text: '検索結果が出てきます🎉',
        attachTo: '.count-label bottom',
        buttons: [
          {
            text: 'Next',
            action: this.tour.next
          },
          {
            text: 'Skip',
            action: this.tour.complete
          },
        ]
      })
      
      this.tour.addStep('watch', {
        text: 'あとはカードをタップして楽しみましょう👆',
        attachTo: '.first-card bottom',
        buttons: [
          {
            text: 'End',
            action: this.tour.complete
          },
        ]
      })

      this.tour.start()
    }
  }
}
</script>

<style>
.floating-action-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.modal-card, .modal-content {
  position: fixed;
  bottom: 0px;
}
</style>

