<template>
  <div class="has-navbar-fixed-top">
    <nav
      class="navbar is-warning is-fixed-top"
      role="navigation"
      aria-label="main navigation">
      <div class="navbar-brand">
        <div
          class="navbar-item"
          href="https://gitlab.com/morifuji/quick-avgle"
          @click="onClickLogo">
          <img
            src="/logo.png"
            height="28">
        </div>
        <div
          class="navbar-item field is-grouped"
          style="margin-left: auto;">
          <a
            href="https://gitlab.com/morifuji/quick-avgle"
            target="_blank">
            <span class="icon has-text-black">
              <i
                class="fab fa-gitlab"
                aria-hidden="true" />
            </span>
          </a>
          <a
            style="padding-left: 25px"
            href="/licence.html"
            target="_blank">
            <span class="icon has-text-black">
              <i
                class="fas fa-file-signature"
                aria-hidden="true" />
            </span>
          </a>
        </div>
      </div>
    </nav>
    <transition
      name="component-fade"
      mode="out-in">
      <router-view />
    </transition>
  </div>
</template>

<script>
export default {
  methods: {
    onClickLogo() {
      scrollTo(0, 0)
    },
  }
}
</script>

<style>

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}
</style>